html {
  font-family: 'Source Code Pro';
  font-size: 9pt;
  background-color: #f7f7f7; 
  color: #000;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

body { margin: 0; padding: 0; }

/* the html tag has these classes and attributes too */
body.normal {}
body.console {}
body[type=channel] {}
body[type=talk] {}
body[type=console] {}
body[channelname=#limechat] {}

hr { margin: 0.5em 2em; }
a { color: #5681bf; }

.inlineimage {}

/* lines */

body.normal .line {
  border-top: 1px solid #e1e1e1;
  box-shadow: 0 1px 0 white inset;
  padding: 0px 0px 0px 120px;
  position: relative;
  margin: 0px;
}

body.normal .line[type=join] { border-top: 1px solid #bee38b; background-color: #e0f4cd; }
body.normal .line[type=quit] { background-color: #e9e9e9; border-top: 1px solid #dfdfdf; }
body.normal .line[type=part] { background-color: #e9e9e9; border-top: 1px solid #dfdfdf; }
body.normal .line[type=kick] { background-color: #f4d3cd; border-top: 1px solid #e5c1ba; }

body.normal .line[alternate=even] { }
body.normal .line[alternate=odd] { }
body.normal .line[type=action] .sender:before {
  content: "• ";
  white-space: nowrap;
}
body.normal .line[highlight=true] {
  background-color: #e5ecf6;
  border-top: 1px solid #c2d5eb;
}

body.normal .line[highlight=true] .time {
  color: #a099a1;
}

body.normal .url { word-break: break-all; }
body.normal .address {
  word-break: break-all;
}
body.normal .address:hover {
  text-decoration: underline;
}

body.normal .highlight { color: #f0f; font-weight: bold; }

body.normal .place { color: #008; }

/* nickname for text messages */

body.normal .sender {
  position: absolute;
  padding: 5px;
  left: 5px;
  text-align: right;
}

body.normal .sender[type=myself] { color: #45537f; font-weight: bold; }
body.normal .sender[type=normal] { color: #636363; font-weight: bold; }

/* message body */

body.normal .message {
  padding: 5px 50px 5px 10px;
  background-color: #fff;
  border-left: 1px solid #e1e1e1;
  display: block;
  box-shadow: -1px 0 0 white;
}

body.normal .line[highlight=true] .message {background-color: #f4f7fb; }

body.normal strong.highlight {
  color: white;
  background-color: #7097c4;
  font-weight: normal;
  border: 1px solid #5681bf;
  padding: 1px 4px;
  border-radius: 5px;
}

body.normal .message[type=system] { color: #4a4a4a; }
body.normal .message[type=error] { color: #f00; font-weight: bold; }
body.normal .message[type=reply] { color: #4a4a4a; }
body.normal .message[type=error_reply] { color: #f00; }
body.normal .message[type=dcc_send_send] { color: #088; }
body.normal .message[type=dcc_send_receive] { color: #00c; }
body.normal .message[type=privmsg] {}
body.normal .message[type=notice] { color: #888; }
body.normal .message[type=action] { color: #080; }
body.normal .message[type=join] { color: #4a4a4a; background-color: #f5f9e7; }

body.normal .message[type=join]:before {
  content: "Welcome!";
  font-weight: bold;
  color: #636363;
  position: absolute;
  left: 10px;
}

body.normal .message[type=part] { color: #aaa; background-color: #f6f6f6; }

body.normal .message[type=part]:before {
  content: "Leaving";
  color: #636363;
  font-weight: bold;
  position: absolute;
  left: 10px;
}

body.normal .message[type=kick] { color: #636363; background-color: #f9ece7; }

body.normal .message[type=kick]:before {
  content: "Owned!";
  color: red;
  font-weight: bold;
  position: absolute;
  left: 10px;
}

body.normal .message[type=quit] { color: #aaa; background-color: #f6f6f6; }

body.normal .message[type=quit]:before {
  content: "Bye!";
  color: #636363;
  font-weight: bold;
  position: absolute;
  left: 10px;
}

body.normal .message[type=kill] { color: #080; }
body.normal .message[type=nick] { color: #aaa; }

body.normal .message[type=nick]:before {
  content: "NickServ:";
  font-weight: bold;
  position: absolute;
  left: 10px;
  color: #636363;
}

body.normal .message[type=mode] { color: #080; }
body.normal .message[type=topic] { color: #080; }
body.normal .message[type=invite] { color: #080; }
body.normal .message[type=wallops] { color: #080; }
body.normal .message[type=debug_send] { color: #aaa; }
body.normal .message[type=debug_receive] { color: #444; }

body.normal .time {
  color: #a099a1;
  font-size: 8pt;
  position: absolute;
  right: 5px;
  top: 30%;
}

/* translucent gilfus in #eng and #ops */
body[channelname="#eng"] .line[nick=gilfus][highlight=false] { opacity: 0.50; }
body[channelname="#ops"] .line[nick=gilfus][highlight=false] { opacity: 0.50; }

/* for instructure_avatars.coffee */
body.normal .avatar-image img { max-height: 15px; }

/* for buildStatus.coffee */
body.normal .build-icon { border: none; }

/* for zabbix.coffee */
body.normal .message.zabbix {
  padding-left: 10px;
}
body.normal .zabbix-problem .alert:before {
  font-family: "Apple Color Emoji";
  content: "⚠";
  padding-right: 5px;
  font-style: normal;
}
body.normal .zabbix-ok .alert:before {
  font-family: "Apple Color Emoji";
  content: "✅";
  padding-right: 5px;
  font-style: normal;
}
body.normal .zabbix-problem {
  background-color: #fee0d2;
}
body.normal .zabbix-ok {
  background-color: #addd8e;
}
body.normal .zabbix .hostname {
  display: block;
  font-weight: bold;
}
body.normal .zabbix .value {
  clear: both;
  float: right;
  font-weight: bold;
}
body.normal .zabbix .alert {
  display: block;
  font-style: italic;
}
body.normal .zabbix-problem .value {
  color: #f00;
}
body.normal .zabbix-ok .value {
  color: #31a354;
}

/* Basic formatting for the console */
body.console {
  font-family: "Meslo", "Menlo", "Courier", monospace;
  padding: 0px 12px;
  background-color: #222;
}
body.console a {
  color: #4785C2;
}
body.console .line {
  border: none;
  padding: 0;
}
body.console .line[highlight=true] {
  color: #FFD36A;
  background-color: #555;
}
body.console .place {
  color: #C28547;
}
body.console .sender {
  padding: 0;
  margin-right: 0.5em;
  color: #C2C247;
}
body.console .message {
  margin: 0;
  padding: 0;
  display: inline;
  color: #47C247;
}
body.console .event{
  padding: 0;
}
body.console .avatar-image { display: none; }
body.console .build-icon { display: none; }
